<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>单文件上传</h1>
    <!-- 上传文件需要设置enctype 类型为 multipart/form-data  -->
    <form action="/imgUpload" method="post" enctype="multipart/form-data">
      <input type="file" name="imgfile" id="" multiple />
      <button type="submit">上传</button>
    </form>
    <h1>多文件上传</h1>
    <form action="/imgUpload/more" method="post" enctype="multipart/form-data">
      <input type="file" name="imgfile" id="" multiple />
      <button type="submit">上传</button>
    </form>
  </body>
</html>
