<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>明星循环</h1>
    <div>111</div>
    <%for(var i = 0; i < stars.length; i++) {%>
      <p><%-stars[i]%></p></p>
    <%}%>
  </body>
</html>
