<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>注册注册表单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--图标库-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />

    <!--响应式框架-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!--主要样式-->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="card-wrap">
        <div class="card border-0 shadow card--login" id="login">
          <div class="card-body">
            <h2 class="card-title">欢迎注册！</h2>
            <p class="badge-wrap">
              <a class="badge"><i class="fab fa-facebook-f"></i></a
              ><a class="badge"><i class="fab fa-google"></i></a
              ><a class="badge"><i class="fab fa-twitter"></i></a
              ><a class="badge"><i class="fab fa-github"></i></a>
            </p>
            <p>或用邮箱注册</p>
            <form action="/register" method="POST">
              <div class="form-group">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="用户名"
                    name="username"
                  />
                </div>
                <input
                  class="form-control"
                  type="email"
                  placeholder="邮箱"
                  name="email"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="password"
                  placeholder="密码"
                  name="password"
                />
              </div>
              <p><a href="#">忘记密码?</a></p>
              <p><a href="/register">注册</a></p>
              <input type="submit" value="注册" />
            </form>
          </div>
          <button class="btn btn-back js-btn" data-target="welcome">
            <i class="fas fa-angle-left"></i>
          </button>
        </div>
      </div>
    </div>

    <script>
      const cards = document.querySelectorAll(".card");
      /* Add class to the body */
      function bg_change(next) {
        document.body.className = "";
        document.body.classList.add("is-" + next);
      }

      /* Add class to a card */
      function view_change(next) {
        // cards.forEach((card) => {
        //   card.classList.remove("is-show");
        // });
        next.classList.add("is-show");
      }
    </script>
  </body>
</html>
