<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>欢迎来到登录页</h1>
    <div>
      <form action="/login" method="POST">
        <table>
          <tr>
            <td>用户名</td>
            <td>
              <input type="text" name="username" />
            </td>
          </tr>
          <tr>
            <td>密码</td>
            <td>
              <input type="password" name="password" />
            </td>
          </tr>
        </table>
        <input type="submit" value="提交" />
      </form>
    </div>
  </body>
</html>
